<?xml version="1.0"?>
<configuration>

<configSections>
	<sectionGroup name="greenBlue">
		<section name="inspector" type="Ecyware.GreenBlue.Configuration.InspectorSectionHandler, Ecyware.GreenBlue.Configuration" />
		<section name="httpClient" type="Ecyware.GreenBlue.Protocols.Http.HttpClientSectionHandler, Ecyware.GreenBlue.Protocols.Http" />
	</sectionGroup>
	<section name="WebTransforms" type = "Ecyware.GreenBlue.Protocols.Http.Transforms.WebTransformConfigurationHandler, Ecyware.GreenBlue.Protocols.Http" />
	<section name="ScriptingDesigner" type = "Ecyware.GreenBlue.Controls.DesignerPageProvider.DesignerPagesSettingsHandler, Ecyware.GreenBlue.Controls" />
	<section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,Microsoft.ApplicationBlocks.ExceptionManagement" />
</configSections>

<WebTransforms>
<WebTransformConfiguration>
<Transforms>
<Transform name="Header Transform" transformType="input" type="Ecyware.GreenBlue.Protocols.Http.Transforms.HeaderTransform, Ecyware.GreenBlue.Protocols.Http" />
<Transform name="Request Transform" transformType="input" type="Ecyware.GreenBlue.Protocols.Http.Transforms.RequestTransform, Ecyware.GreenBlue.Protocols.Http" />
<Transform name="Fill Form Transform" transformType="input" type="Ecyware.GreenBlue.Protocols.Http.Transforms.FillFormTransform, Ecyware.GreenBlue.Protocols.Http" />
<Transform name="Response Result Transform" transformType="output" type="Ecyware.GreenBlue.Protocols.Http.Transforms.ResponseResultTransform, Ecyware.GreenBlue.Protocols.Http" />
</Transforms>
</WebTransformConfiguration>
</WebTransforms>

<ScriptingDesigner>
<DesignerPagesConfiguration>
<Pages>
<DesignerPage name="Form Page" type="Ecyware.GreenBlue.Controls.Scripting.FormPage, Ecyware.GreenBlue.Controls" />
<DesignerPage name="Cookies Page" type="Ecyware.GreenBlue.Controls.Scripting.CookiesPage, Ecyware.GreenBlue.Controls" />
<DesignerPage name="Input Transforms" type="Ecyware.GreenBlue.Controls.Scripting.InputTransformsPage, Ecyware.GreenBlue.Controls" />
<DesignerPage name="Output Transforms" type="Ecyware.GreenBlue.Controls.Scripting.OutputTransformsPage, Ecyware.GreenBlue.Controls" />
</Pages>
</DesignerPagesConfiguration>
</ScriptingDesigner>

<system.net>
    <settings>
    <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
</system.net>

<!-- GB inspector default settings -->
<greenBlue>
<inspector>
<inspectorConfiguration> 
	<defaultBufferOverflowLength>100</defaultBufferOverflowLength>
	<defaultSqlTest>' --</defaultSqlTest> 
	<defaultXssTest>document.write('&lt;html&gt;&lt;/html&gt;');</defaultXssTest>  
	<xssSignatures>xsslist.xml</xssSignatures>
	<sqlSignatures>sqllist.xml</sqlSignatures>
	<basicReportTemplate>BasicReportTemplate.xslt</basicReportTemplate>
	<advancedReportTemplate>AdvancedReportTemplate.xslt</advancedReportTemplate>
	<solutionDataFile>solutions.xml</solutionDataFile>
	<referenceDataFile>references.xml</referenceDataFile>	
</inspectorConfiguration> 	
</inspector>	
    <httpClient>
      <httpProperties>
        <contentLength>-1</contentLength>
        <ifModifiedSince>0001-01-01T00:00:00.0000000-06:00</ifModifiedSince>
        <securityProtocol>Ssl3</securityProtocol>
        <authenticationSettings>
          <domain />
          <username />
          <password />
          <useBasicAuthentication>false</useBasicAuthentication>
          <useNTLM>true</useNTLM>
        </authenticationSettings>
        <pipeline>true</pipeline>
        <keepAlive>true</keepAlive>
        <sendChunked>false</sendChunked>
        <userAgent>Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.1; .NET CLR 1.1.4322)</userAgent>
        <allowWriteStreamBuffering>false</allowWriteStreamBuffering>
        <allowAutoRedirects>false</allowAutoRedirects>
        <maximumAutoRedirects>50</maximumAutoRedirects>
        <additionalHeaders>
          <header name="Language" value="en-us" />
        </additionalHeaders>
      </httpProperties>
    </httpClient>
</greenBlue>

<exceptionManagement mode="on">		
	<publisher assembly="Microsoft.ApplicationBlocks.ExceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.DefaultPublisher" logname="Application" applicationname="Ecyware GreenBlue Inspector" />
</exceptionManagement>
	
<startup>
<supportedRuntime version="v1.1.4322"/>
<requiredRuntime version="v1.1.4322" safemode="true"/>
</startup>
</configuration>
